* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #ff6f61, #f7b731, #2ecc71, #1f8f8f);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
  flex-direction: column;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.game-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

canvas {
  background-color: #222;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
  font-style: italic;
  text-align: center;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

#restartButton {
  padding: 10px 20px;
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

#restartButton:hover {
  background-color: #e0a800;
}

.score {
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.highscore {
  font-size: 24px;
  color: yellow;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
  .game-container {
    padding: 15px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .score {
    font-size: 20px;
  }

  canvas {
    width: 300px;
    height: 300px;
  }
}
